body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5);
}
#title{
text-align: center;

}

.input{
  width:500px;
  border-radius:10px;
  padding: 5px;
  
}
.inputandbutton{
    margin: 0 auto;
    
}

#result{
    max-width: 500px;
   margin-top: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;

  
}
.gif-image{
 width: 200px; 
 height: 200px;
 

}
.button{
    border-radius:10px; 
    cursor: pointer; 
    padding: 5px;
}
.button:hover{
color: white;
background-color:black ;
}